---
import { useTranslations } from "@/utils/i18n";
import { Github, Heart } from "lucide-react";
import { CarouselPlugin } from "./shared/Carousel";
import { Button } from "./ui/button";
const currentLocale = Astro.currentLocale || "en";
const { t } = useTranslations(currentLocale as "en" | "ru");
---

<div class="max-w-screen-xl mx-auto pt-32">
  <div class="flex flex-col items-center lg:flex-row justify-between">
    <div class="lg:w-1/2 flex flex-col lg:items-start items-center">
      <header>
        <h1>FlectoneChat</h1>
        <p class="w-96">
          {t("fchat-description")}
        </p>
        <h3 class="mt-4">
          {t("use-pulse")} <b class="text-blue-500">FlectonePulse</b>
        </h3>
      </header>
      <div class="flex max-lg:w-full justify-between gap-3 mt-6">
        <a href="https://modrinth.com/plugin/flectonepulse">
          <Button className="bg-green-400 hover:bg-green-500">
            <Heart /><span>{t("modrinth-button")}</span>
          </Button>
        </a>
        <a href="https://github.com/Flectone/">
          <Button variant="ghost">
            <Github />
            <span>Github</span>
          </Button>
        </a>
      </div>
    </div>
    <div class="lg:w-1/2 mt-10 lg:mt-0">
      <CarouselPlugin client:load />
    </div>
  </div>
</div>
