---
import flectoneMix from "@/assets/mix/flectonemix.png";
import { useTranslations } from "@/utils/i18n";
import Image from "astro/components/Image.astro";
import { Download, Github } from "lucide-react";
import { Button } from "./ui/button";
const currentLocale = Astro.currentLocale || "en";
const { t } = useTranslations(currentLocale as "en" | "ru");
---

<div class="max-w-screen-xl mx-auto pt-32">
  <div class="flex flex-col items-center lg:flex-row justify-between">
    <div class="lg:w-1/2 flex flex-col lg:items-start items-center">
      <header>
        <h1>FlectoneMix</h1>
        <p class="w-96">
          {t("fmix-description")}
        </p>
        <h2 class="mt-4">
          <span class="text-sky-500">65138</span>
          {t("download-count")}
        </h2>
      </header>
      <div class="flex max-lg:w-full justify-between gap-3 mt-6">
        <a href="https://boosty.to/thefaser/">
          <Button className="bg-orange-300 hover:bg-orange-400">
            <Download /><span>{t("boosty-button")}</span>
          </Button>
        </a>
        <a href="https://github.com/Flectone/">
          <Button variant="ghost"><Github />
            <span>Github</span>
          </Button>
        </a>
      </div>
    </div>
    <div class="lg:w-1/2 mt-10 lg:mt-0">
      <Image src={flectoneMix} alt="flectone mix showcase" class={"rounded-2xl"}/>
    </div>
  </div>
</div>
