---
import { Button } from "./ui/button";
import { Download, Github, GithubIcon, LucideGithub } from "lucide-react";
import Image from "astro/components/Image.astro";
import flectoneMix from "../assets/flectonemix.png";
import { useTranslations } from "@/utils/i18n";
const currentLocale = Astro.currentLocale || "en";
const { t } = useTranslations(currentLocale as "en" | "ru");
---

<div class="max-w-screen-xl mx-auto pt-32">
  <div class="flex justify-between">
    <div class="w-1/2">
      <header>
        <h1>FlectoneMix</h1>
        <p class="w-96">
          {t("fmix-description")}
        </p>
        <h3 class="mt-6">
          <span class="text-sky-500">65138</span>
          {t("download-count")}
        </h3>
      </header>
      <div class="flex gap-3 mt-6">
        <a href="https://boosty.to/thefaser/"
          ><Button className="bg-orange-300 hover:bg-orange-400"
            ><Download /><span>{t("boosty-button")}</span></Button
          ></a
        >
        <a href="https://github.com/Flectone/"
          ><Button variant="ghost"><Github /><span>Github</span></Button></a
        >
      </div>
      <!-- <Button className="bg-sky-500 hover:bg-sky-600"
        ><Download />Available on Boosty</Button
      >
      <Button>ale</Button> -->
    </div>
    <div class="w-1/2">
      <h2 class="text-center rounded-b-3xl">{t("mix-header")}</h2>
      <Image src={flectoneMix} alt="flectone mix showcase" />
    </div>
  </div>
</div>
