---
import { getRelativeLocaleUrl } from "astro:i18n";
import { Languages } from "lucide-react";
import { Button } from "./ui/button";

const currentLocale = Astro.currentLocale || "en";
const targetLocale = currentLocale === "en" ? "ru" : "en";

const currentPath = Astro.url.pathname
  .replace(`/${currentLocale}/`, "")
  .replace(/^\//, "");

const newPath = getRelativeLocaleUrl(targetLocale, currentPath);
---

<a href={newPath} class="transition-colors">
  <Button size="sm" variant="ghost">
    <Languages />{currentLocale.toLocaleUpperCase()}
  </Button>
</a>
