---
import { ModeToggle } from "./shared/ModeToggle";
import Image from "astro/components/Image.astro";
import flectoneLogo from "../assets/logo.png";
import { getRelativeLocaleUrl } from "astro:i18n";
import { useTranslations } from "@/utils/i18n";
import LangSwitcher from "./LangSwitcher.astro";

const currentLocale = Astro.currentLocale || "en";
const homePage = getRelativeLocaleUrl(currentLocale, "");
const aboutPage = getRelativeLocaleUrl(currentLocale, "about");
const { t } = useTranslations(currentLocale as "en" | "ru");
// ALE
---

<nav
  class="max-w-screen-xl grid grid-cols[1fr_auto_1fr] items-center mx-auto mt-4"
>
  <div class="flex justify-between">
    <a
      href={homePage}
      class="flex items-center gap-3 font-montserrat font-medium"
      ><Image src={flectoneLogo} alt="Flectone logo" width={32} height={32} />
      Flectone</a
    >

    <ul class="flex gap-6 items-center text-sm">
      <li><a href={homePage}>{t("home")}</a></li>
      <li><a href={aboutPage}>{t("about")}</a></li>
      <li><LangSwitcher /></li>
      <li><ModeToggle client:load /></li>
    </ul>
  </div>
</nav>
