---
import { useTranslations } from "@/utils/i18n";

const currentLocale = Astro.currentLocale || "en";
const { t } = useTranslations(currentLocale as "en" | "ru");
---

<div class="max-w-screen-xl mx-auto">
  <div class="flex justify-center">
    <header class="pt-48">
      <h1>{t("team-header")}</h1>
      <p class="text-center">{t("team-description")}</p>
    </header>
  </div>
</div>
