---
import "@/styles/globals.css";
import logo from "../assets/logo.png";
import favicon from "../assets/favicons/favicon.ico";
import Navbar from "@/components/Navbar.astro";
---

<!doctype html>
<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:title" content="Flectone" />
    <meta property="og:image" content={logo.src} />
    <meta
      property="og:description"
      content="Flectone — это бренд, который объединяет все проекты TheFaser"
    />
    <meta property="og:image" content={logo.src} />
    <meta property="og:url" content="https://flectone.net" />
    <meta property="og:type" content="website" />
    <link rel="shortcut icon" type="image/x-icon" href={favicon} />
    <meta name="generator" content={Astro.generator} />
    <title>Flectone</title>
  </head>
  <body class="dark:bg-[#1b1b1b] px-4 pb-8">
    <Navbar />
    <div class="flex flex-col justify-center items-center min-h-[80vh]">
      <slot />
    </div>
  </body>

  <style>
    html,
    body {
      margin: 0;
      width: 100%;
    }
  </style>
</html>
