<div class="max-w-screen-xl mx-auto">
  <div class="flex justify-center">
    <header class="pt-48">
      <h1>Flectone is...</h1>
      <p>The project of man named TheFaser (Artem)</p>
    </header>
  </div>
</div>
