---
import { ModeToggle } from "./shared/ModeToggle";
import Image from "astro/components/Image.astro";
import flectoneLogo from "../assets/logo.png";
---

<nav
  class="max-w-screen-xl grid grid-cols[1fr_auto_1fr] items-center mx-auto mt-4"
>
  <div class="flex justify-between">
    <a href="/" class="flex items-center gap-3 font-montserrat font-medium"
      ><Image src={flectoneLogo} alt="Flectone logo" width={32} height={32} />
      Flectone</a
    >

    <ul class="flex gap-8 items-center text-sm">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><ModeToggle client:load /></li>
    </ul>
  </div>
</nav>
